:root {
  --font-display: "Playfair Display";
  --font-body: "Sora";
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
}

body {
  background: #f7f7f5;
  color: #1b1b1b;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  display: block;
}
